.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.box {
  height: 2.25rem;
  width: 2.25rem;

  border-radius: 0.25rem;
}

.box-primary {
  background-color: #013a63;
}

.box-add {
  cursor: pointer;

  border: 1px dashed #013a63;
  box-sizing: border-box;
  background-color: #edfaff;

  display: grid;
  place-items: center;
}
